body{
    font-family: cursive, Helvetica, sans-serif;
    color:black;
    /* background-color: purple; */
    /* background-image: url("./images/kunblomst.jpg"); */
    background-image: linear-gradient(to right, red,orange,yellow,green);
}


/* #headercontent{
    display: grid;
    grid-template-columns: 100%;
} */
header h1{
   /* hvad er rigtigst her? 
   adgang via header, da der kun er 1 header
   eller lav id? */

   /* Headline on page */
    font-size: 300%; 
    text-align: center;
    background-color: cornsilk;
}


#headercontent img{
    /* image in header */
    display:block;
    
    width: 100%;
    border-radius: 2em;
    object-fit: contain;
    
}

#headercontent p{
    /* text under image*/
    text-align: right;
    margin-top: 0.5em;
    font-size: 1em;
}



#instructions{
    /* the six info parts displayed on page left for ingredients right for process */
    /* making grid dvided in 2 coloumns */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.1em;
    
}

.leftinfo h4{
    /* left side headline in instructions */
    margin-left: 2.5em;
    
}

.infopiece h4{
margin-top: 0.1em;
margin-bottom: 0.1em;
}

.infopiece h2{
    /* headers in all the six info parts */
    /* targets headers in each part and centers it */
    text-align: center;
    font-size:1.2em;
}

.infopiece{
    /* adds border to info parts */
    border-style: solid;
    /* adds background color to info parts */
    background-color: khaki;
}

#item6 h4{
    /* the sixth info part */
    /* moves header right to align with text */
    margin-left: 2.5em;
}
#baking h3{
    /* makes headline centered */
    text-align: center;
}




#baking h3{
    /* reduce spacing at bottom so text in ol and header are closer */
    margin-bottom: 0.1em;
}
#baking ol{
    /* reduce spacing at top so header and text ini ol are closer */
    margin-top: 0.1em;
}

#video{
    
    margin-left: 50vw;
  transform: translate(-50%);
    
}

footer p{
    text-align: center;
    font-size: 1em;
    background-color: rgb(127, 127, 138);
    color:white;
}
