body{
    font-family: cursive, Helvetica, sans-serif;
    color:black;
    /* background-color: purple; */
    /* background-image: url("./images/kunblomst.jpg"); */
    background-image: linear-gradient(to right, red,orange,yellow,green);
}



header h1{
   /* hvad er rigtigst her? 
   adgang via header, da der kun er 1 header
   eller lav id? */
    font-size: 300%; 
    text-align: center;
    background-color: cornsilk;
}

#headercontent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 2em;
    object-fit: contain;
    
}

#headercontent p{
    margin-left:15% ;
    margin-top: 0.5em;
    font-size: 1em;
}



#instructions{
    /* making grid dvided in 2 coloumns */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.5em;
    column-gap: 1em;
    
}

.leftinfo h4{
    margin-left: 2.5em;
    
}

.infopiece{
    border-style: solid;
    background-color: khaki;
}

#baking h3{
    /* makes headline centered */
    text-align: center;
}
#bakingandvideo{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}
.infopiece h4{
margin-top: 0.1em;
margin-bottom: 0.1em;
}


#baking h3{
    /* reduce spacing at bottom so text in ol and header are closer */
    margin-bottom: 0.1em;
}
#baking ol{
    /* reduce spacing at top so header and text ini ol are closer */
    margin-top: 0.1em;
}

#video{
    margin-top: 5em;;
}

footer p{
    text-align: center;
    font-size: 1em;
    background-color: darkblue;
    color:white;
}
